<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include $(sys.CURRENTDIR)Includes\Config.wxi?>
	<Fragment>
		<Component Id="C.MainExe" Directory="INSTALLDIR" Guid="0d95d842-b52c-4b55-9d72-59de964f4749">
			<File Id="MainExeFile" Source="$(var.InstallerSolutionDir)mRemoteNG\bin\$(var.Platform)\$(var.Configuration)\Capture2Text.exe" />
		</Component>
	</Fragment>
</Wix>